@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #b8b4b4;
    color: #222;
    overflow-x: hidden; 
    margin: 0; 
}

.header {
    margin: 10px; 
}

form {
    float: right;
}

#tsearch {
    width: 200px;
}

h1 {
    padding-top: 40px;
    font-size: 55px;
    text-align: center;
}

.section{
    background: url(assets/weim4.jpg) center center no-repeat;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text {
    color: #dedddc;
}

.text h2{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 35px;
}

.text h4{
    font-size: 25px;
    padding-left: 10px;
}

.text a {
    color: #dedddc;
    text-decoration: none;
    text-align:right;
    position: absolute;
    bottom: 0; 
    right: 0;
    padding-right: 30px;
    padding-bottom: 30px;
}


.row {
    width: 100%;
    height: auto;
    padding: 60px 0 60px 0; 
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.column {
    float: left;
    width: 35%;
    padding: 0 10px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}  

.card{
    padding: 0 20px;
}

.card img {
    width: 100%
}

.card a{
    color: #222;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.news h3 {
    font-size: 25px;
}

.news a{
    color: #222;
}

.card1, .card2, .card3{
    height: 100%;
    padding: 30px;
    text-align:justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

time {
    font-size: 12px;
}

.events {
    padding-bottom: 60px;
}

.events h2{
    padding-left: 10px;
    font-size: 35px;
}

.events .row {
    padding: 10px 0;
    display: flex;
    justify-content: left;
}

.events .column {
    width:15%;
}

.events h5, time {
    font-size: 15px;
    margin:0;
}

.events img {
    max-width: 100%;
}

footer {
    padding: 5px 0;
    height: 150px;
    background-color: #222;
    color: #dedddc;
    text-align: center;
}

.fab {
    color: white;
}